body{
    font-family: 'Times New Roman', Times, serif;
    opacity:0.7;
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTYzfHx3aGl0ZSUyMHRhaWxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    position:relative;
    
}

header{
    height:80px;
}

.header-logo{
    float:left;
}

.header-list {
    float:right;
    background-color:cadetblue;
    position:absolute;
    top:30px;
    right:0;
    border-radius: 10px;
    display:none;
}

.header-list li{
    list-style:none;
}

.header-list li:hover{
    background-color: cadetblue;
    cursor:pointer;
}

.checkbox{
    display:none;
}

.fas{
    float:right;
    font-size:25px;
    margin-top:5px;
    margin-right:5px;
}

#menu:checked + .header-list{
    display:block;
}

.contents h1{
    font-size:17px;
    text-align: center;
    font-weight: normal;
}

.contents h2{
    font-size:15px;
    text-align: center;
    font-weight: normal;
}

.contents h3{
    font-size:13px;
    margin-top:80px;
    border-bottom: 1px solid rgb(112, 112, 112,0.5);
    padding-bottom:10px;
}

.wrapper{
    margin-top:50px;
}

.contents-item{
    text-align:center;
}

.contents-item:hover{
    background-color: cadetblue;
    cursor:pointer;
}

a{
    text-decoration: none;
    color:black;
}
