body{
    font-family: 'Times New Roman', Times, serif;
    opacity:0.7;
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTYzfHx3aGl0ZSUyMHRhaWxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    position:relative;
    
}

header{
    height:80px;
}

.header-logo{
    float:left;
}

.header-list {
    float:right;
    background-color:cadetblue;
    position:absolute;
    top:30px;
    right:0;
    border-radius: 10px;
    display:none;
}

.header-list li{
    list-style:none;
}

.header-list li:hover{
    background-color: cadetblue;
    cursor:pointer;
}

.checkbox{
    display:none;
}

.fas{
    float:right;
    font-size:25px;
    margin-top:5px;
    margin-right:5px;
}

#menu:checked + .header-list{
    display:block;
}

a{
    text-decoration: none;
    color:black;
}

h3{
    margin-top:70px;
    border-bottom:1px solid rgb(59, 59, 59,0.5);
    margin-bottom:50px;
    font-size:15px;
}

.contents-item{
    position:relative;
}

.contents-item img{
    width:80px;
    height:80px;
}

.contents-item h4{
    position:absolute;
    top:0;
    left:100px;
    margin-top:0;
}

.contents-item p{
    position:absolute;
    top:40px;
    left:100px;
    margin:0;
}

@media screen and (min-width:1000px){
    .header-logo{
        font-size:28px;
        float:left;
    }

    .fas{
        display:none;
    }

    .header-list {
        display:block;
        position:initial;
        background-color: initial;
        float:initial
    }

    .header-list li{
        float:left;
        list-style:none;
        margin:10px 0;
        margin-left:60px;
    }

    .header-list li:hover{
        cursor:pointer;
        background-color: cadetblue;
    }

    .contents-item img{
        width:150px;
        height:150px;
    }

    .contents-item h4{
        position:absolute;
        left:180px;
        font-size:20px;
    }

    .contents-item p{
        position:absolute;
        left:180px;
        font-size:18px;
    }

    .contents-item:hover{
        background-color: cadetblue;
        cursor: pointer;
    }

    h3{
        font-size:28px;
    }
}
